body p					{ margin:0 0 5px; font-family: 'LaoUI',sans-serif; font-weight: 300; }	
.shortcode-head 		{ border-bottom: 2px solid #434955;font-size: 26px;font-family: 'LaoUI',sans-serif; color: #434955; font-weight: 300;;margin: 15px 0 20px;padding-bottom: 3px;}
.shortcode-text 		{ font-size: 14px/24px; margin-top:9px; margin-bottom:12px;font-family: 'LaoUI',sans-serif; font-weight: 300;}


.button-container 		{ overflow: hidden; margin-bottom: 12px; border-bottom: 0.5px solid #efefef;padding-bottom:20px;}
.srtcd-button img		{ margin:4px -8px -2px 8px; opacity:0.5;}
.button-head 			{  border-bottom: 2px solid #434955;font-size: 22px;font-family: 'LaoUI',sans-serif; font-weight: 300;display: inline-block;margin-top: 15px;}

#medium-button 	{ display: inline-block;margin: 9px;padding: 9px;}
#icon-button	{ display:inline-block;margin: 9px;}
#small-button	{ display: inline-block;margin: 9px;padding: 4px;}
#large-button 	{ margin-left:15px;display:inline-block; margin-top:12px; padding: 9px 26px;}


.left-element 			{ float:left;}
.home-ic 				{ background:url(../images/button-ico-home.png) no-repeat; float:right; height:16px;margin: 2px -7px 3px 8px;opacity:0.5;width:18px;}
.search-ic 				{ background:url(../images/button-ico-search.png) no-repeat; float:right; height:16px;margin: 2px -7px 3px 8px;opacity:0.5;width:18px;}
.user-ic 				{ background:url(../images/button-ico-male.png) no-repeat; float:right; height:16px;margin: 2px -7px 3px 8px;opacity:0.5;width:18px;}
.tick-ic 				{ background:url(../images/button-ico-tick.png) no-repeat; float:right; height:16px;margin: 2px -7px 3px 8px;opacity:0.5;width:18px;}
.go-ic 					{ background:url(../images/button-ico-go.png) no-repeat; float:right; height:16px;margin: 2px -7px 3px 8px;opacity:0.5;width:18px;}
.comment-ic 			{ background:url(../images/button-ico-comment.png) no-repeat; float:right; height:16px;margin: 2px -7px 3px 8px;opacity:0.5;width:18px;}
.upload-ic 				{ background:url(../images/button-ico-upload.png) no-repeat; float:right; height:16px;margin: 2px -7px 3px 8px;opacity:0.5;width:18px;}
.close-ic 				{ background:url(../images/button-ico-close.png) no-repeat; float:right; height:16px;margin: 2px -7px 3px 8px;opacity:0.5;width:18px;}


.button 				{ display: block; font-size: 12px !important; padding: 8px 10px;text-decoration: none !important;border-radius: 0px !important; -moz-border-radius: 0px !important;line-height: inherit !important;font-weight: normal !important;
}
.button:active 			{box-shadow: inset 0px 0px 3px #999 !important;-o-box-shadow: inset 0px 0px 3px #999 !important;-webkit-box-shadow: inset 0px 0px 3px #999 !important;-moz-box-shadow: inset 0px 0px 3px #999 !important;
}

.grey 					{ color: #444 !important;border: 1px solid #d5d5d5 !important;background:none no-repeat scroll 0 0 transparent !important;text-shadow: 1px 1px 1px #eee !important;box-shadow: 0 3px 0 #aaaaaa !important;border-radius:5px !important;
}
.grey:hover 			{ background-color:#d5d5d5 !important;box-shadow: 0 3px 0 #aaaaaa !important;border: 1px solid transparent !important;
}
.grey:active 			{ border: 1px solid transparent !important;box-shadow: 0 0 0 #f9517c !important;}


.red 					{ color: #F62157 !important;border: 1px solid #f997b0 !important;background:none no-repeat scroll 0 0 transparent !important;text-shadow: 1px 1px 1px #FFADAD !important; box-shadow: 0 3px 0 #f9517c !important;border-radius:5px !important;
}
.red:hover				{ border: 1px solid transparent !important;color: #923c47 !important;background-color: #f997b0 !important;box-shadow: 0 3px 0 #f9517c !important;
}
.red:active 			{ border: 1px solid transparent !important; box-shadow: 0 0 0 #f9517c !important;}

.blue 					{ color: #41788c !important;border: 1px solid #6fb1c7 !important; background:none no-repeat scroll 0 0 transparent !important;text-shadow: 1px 1px 1px #9cdbf1 !important; box-shadow: 0 3px 0 #18b8f1 !important;border-radius:5px !important;
}
.blue:hover				{ border: 1px solid transparent !important;color: #444 !important;background-color: #73d0f1 !important;box-shadow: 0 3px 0 #18b8f1 !important;}
.blue:active 			{ border: 1px solid transparent !important;box-shadow: 0 0px 0 #18b8f1 !important;}


.green 					{ color: #5a742d !important;border: 1px solid #95b959 !important;background:none no-repeat scroll 0 0 transparent !important;text-shadow: 1px 1px 1px #becba5 !important; box-shadow: 0 3px 0 #77bf05 !important;border-radius:5px !important;
}
.green:hover 			{ border: 1px solid transparent !important;color: #444 !important;background-color: #a5cb5e !important;box-shadow: 0 3px 0 #77bf05 !important;
}
.green:active 			{ border: 1px solid transparent !important;box-shadow: 0 0px 0 #77bf05 !important;}


.black 					{ color: #333  !important;border: 1px solid #4d4d4d !important;background:none no-repeat scroll 0 0 transparent !important;text-shadow: 1px 1px 1px #9a9a9a !important; box-shadow: 0 3px 0 #363636 !important;border-radius:5px !important;
}
.black:hover 			{ border: 1px solid transparent !important;color: #eaeaea !important;background-color: #666666  !important;box-shadow: 0 3px 0 #363636 !important;
}
.black:active 			{ border: 1px solid transparent !important;box-shadow: 0 0px 0 #363636 !important;}


.yellow 				{ color: #986a39 !important;border: 1px solid #e6b650;background:none no-repeat scroll 0 0 transparent !important;text-shadow: 1px 1px 1px #fedea4 !important; box-shadow: 0 3px 0 #f39c04 !important;border-radius:5px !important;
}
.yellow:hover 			{ border: 1px solid transparent !important;color: #444 !important;background-color: #febf4d  !important;box-shadow: 0 3px 0 #f39c04 !important;
}
.yellow:active 			{ border: 1px solid transparent !important;box-shadow: 0 0px 0 #f39c04 !important;}

.purple 				{ color: #7e5d7c !important;border: 1px solid #cd93c6 !important;background:none no-repeat scroll 0 0 transparent !important;text-shadow: 1px 1px 1px #d7bdd5 !important; box-shadow: 0 3px 0 #d763cc !important;border-radius:5px !important;
}
.purple:hover 			{ border: 1px solid transparent !important;color: #444 !important;background-color: #d798d1  !important;box-shadow: 0 3px 0 #d763cc !important;
}
.purple:active 			{ border: 1px solid transparent !important;box-shadow: 0 0px 0 #d763cc !important;}


.gblue 					{ color: #57646d;border: 1px solid #929ba2;background:none no-repeat scroll 0 0 transparent !important;text-shadow: 1px 1px 1px #c7d0d8 !important; box-shadow: 0 3px 0 #6ca7d8 !important;border-radius:5px !important;
}
.gblue:hover 			{ border: 1px solid transparent;color: #444 !important;background-color: #bbcbd8  !important;box-shadow: 0 3px 0 #6ca7d8 !important;
}
.gblue:active 			{ border: 1px solid transparent; box-shadow: 0 0px 0 #6ca7d8 !important;}
.content-box-cont 			{ display: block;overflow: hidden;}
#content-box 				{ display: block;float: left;overflow: hidden;padding: 1%;margin: 1%;width: 45%;text-align: left;}
.error-ic 					{ background: url(../images/ic-error.png) no-repeat scroll left center transparent;font-size: 20px;color: #B94A48;padding: 8px 0 8px 40px;}
.content-red	 			{ background-color: #F2DEDE;border-color: #EED3D7;color: #B94A48;}
.alert-ic 					{ background: url(../images/ic-alert.png) no-repeat scroll left center transparent;font-size: 20px;color: #C09853;padding: 8px 0 8px 40px;}
.content-yellow	 			{ background-color: #FCF8E3;border: 1px solid #FBEED5;color: #C09853;}
.right-ic 					{ background: url(../images/ic-right.png) no-repeat scroll left center transparent;font-size: 20px;color: #468847;padding: 8px 0 8px 40px;}
.content-green	 			{ background-color: #DFF0D8;border-color: #D6E9C6;color: #468847;}
.loc-ic 					{ background: url(../images/ic-loc.png) no-repeat scroll left center transparent;font-size: 20px;color: #3A87AD;padding: 8px 0 8px 40px;}
.content-blue	 			{ background-color: #D9EDF7;border-color: #BCE8F1;color: #3A87AD;}
.star-ic 					{ background: url(../images/ic-star.png) no-repeat scroll left center transparent;font-size: 20px;color: #aa6939;padding: 8px 0 8px 40px;}
.content-orange	 			{ background-color: #edd9c9;border-color: #edd4ac;color: #aa6939;}
.flag-ic 					{ background: url(../images/ic-flag.png) no-repeat scroll left center transparent;font-size: 20px;color: #999;padding: 8px 0 8px 40px;}
.content-grey	 			{ background-color: #f0f0f0;border-color: #e9e9e9;color: #999;}

@media screen and (max-width: 480px){
	#content-box 				{ display: block;overflow: hidden;padding: 1%;margin: 1%;width: 90%;text-align: left;}
	}


.socialico-container 		{ overflow: hidden; margin-bottom: 30px; border-bottom: 0.5px solid #efefef; }


.srtcd-author-name			{ margin:0; text-align:left; margin-left:10px;font: 300 22px 'LaoUI',verdana;}
.srtcd-author-content img { border-radius:100px; border:3px #ddd solid;}
.srtcd-author-text 			{ font-size: 15px/24px; }


.col-container 				{ overflow: hidden; margin-bottom: 30px; border-bottom: 0.5px solid #efefef; }
.srtcd-col-head 			{ font-size:18px; color:#21B38F;}
.srtcd-col-text 			{ font-size:14px/24px; color:#2f2f2f;}


.cus-list-container 		{ overflow: hidden; margin-bottom: 30px; border-bottom: 0.5px solid #efefef; }
.srtcd-list-style 			{ display:inline-block; color:#21B38F;margin-right: 5px; }


.table-container { overflow: hidden; margin-bottom: 30px; border-bottom: 0.5px solid #efefef; }
.table-container ul ul, ul ol, ol ol, ol ul	{ margin:0 !important;}
.srtcd-table-priceTxt		{ color:#fff;font-size:35px; margin-bottom: 0;margin-top: 7px; text-align:center; }
.srtcd-green-bg				{ background: #5fb557 !important;  color: #FFFFFF !important;text-align: center !important;}
.srtcd-red-bg				{ background: #ab4a4a !important;color: #FFFFFF !important;text-align: center !important;}
.srtcd-blue-bg				{ background: #2a517b !important;color: #FFFFFF !important;text-align: center !important;}
.srtcd-pink-bg				{ background: #993a52 !important;color: #FFFFFF !important;text-align: center !important;}
.pricing_table 				{ font-size: 12px;margin: 40px 15px;}
.price_block 				{ width: 100%;color: #fff;float: left;list-style-type: none;transition: all 0.25s;position: relative;box-sizing: border-box;margin-right:1px;margin-bottom: 45px;border-bottom: 1px solid transparent;}
.pricing_table h3 			{ color:#fff;font-size:18px;padding: 15px 0;border-radius: 8px 8px 0 0;margin: -10px 0 1px 0;text-transform: uppercase;text-align:center;}
.price 						{ display: table;background: #444;width: 100%;}
.price_figure				{ font-size: 24px;text-transform: uppercase;vertical-align: middle;display: table-cell;}
.price_number 				{ font-weight: bold;display: block;}
.price_tenure 				{ font-size: 11px;}
.features 					{ background: #d7d7d7;color: #000;margin: 0 !important;}
.features li 				{ padding: 9px 0px;border-bottom: 1px solid #fff;font-size: 13px;list-style-type: none;text-align: center;}
.price-block 					{ padding: 15px;background: #DEF0F4;border-radius: 0 0 8px 8px;margin-top: -8px;min-height: 0 !important;text-align: center;}
.action_button 				{ text-decoration: none;color: #000;font-weight: bold;border-radius: 5px;bottom:-20px;background: #ebebeb; /* Old browsers */background: -moz-linear-gradient(top, #ebebeb 0%, #d2d3d3 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#d2d3d3)); /Chrome,Safari4+ */background: -webkit-linear-gradient(top, #ebebeb 0%,#d2d3d3 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #ebebeb 0%,#d2d3d3 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #ebebeb 0%,#d2d3d3 100%); /* IE10+ */background: linear-gradient(to bottom, #ebebeb 0%,#d2d3d3 100%); /* W3C */padding: 9px 21px;font-size: 12px;position:relative;	text-transform: uppercase;}
.price_block:hover 			{ box-shadow:0px -6px 8px 0px #2f2f2f;cursor:pointer;transform: scale(1.04) translateY(-5px);-webkit-transform: scale(1.04) translateY(-5px);z-index: 1;border-bottom: 0 none;}
.price_block:hover .price 	{ back ground:linear-gradient(#DB7224, #F9B84A);box-shadow: inset 0 0 45px 1px #DB7224;}
.price_block:hover h3 		{ background: #222;}
.price_block:hover .action_button { color:#fff; background: #21B38F;}

@media only screen and (min-width : 480px) and (max-width : 768px) {
	.price_block {width: 96%;}
	.price_block:nth-child(odd) {border-right: 1px solid transparent;}
	.price_block:nth-child(odd):hover {border: 0 none;}
}
@media only screen and (min-width : 768px){
	.price_block {width: 24%;}
	.price_block {border-right: 1px solid transparent; border-bottom: 0 none;}
	.price_block:last-child {border-right: 0 none;}
	.price_block:hover {border: 0 none;}
}


.testimonial-container 		{ overflow: hidden;padding-bottom: 30px; margin-bottom: 30px; border-bottom: 0.5px solid #efefef; }
.testi-img					{ border: 7px solid #005b7f;border-radius:50px;height: 100px;width: 100px !important;}
.testi-img img 				{ width:100%;}
.testi-text p 				{ font:15px; }
.testi-text h4, .testi-text span { float:right; text  } 
.testi-text h4 				{ font:20px; color:#066c78; margin-bottom: 0px; }
.testi-text span 			{ clear: right; }


.testimonial-container blockquote					{ border-left:0 !important;}
.cbp-qtrotator 				{ position: relative;margin: 3em auto 0em auto;max-width: 840px;width: 100%;min-he ight: 400px; }
.cbp-qtrotator .cbp-qtcontent {position: absolute;min-height: 200px;border-bottom: 1px solid #f4f4f4;padding: 2em 0;top: 0;z-index: 0;opacity: 0;width: 100%;}
.no-js .cbp-qtrotator .cbp-qtcontent { border-bottom: none;}
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent { position: relative; z-index: 100;pointer-events: auto;opacity: 1;}
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after { content: " "; display: table;}
.cbp-qtrotator .cbp-qtcontent:after {clear: both;}
.cbp-qtprogress 			{ position: absolute;background: #333;height: 1px;width: 0%;top: 99%;z-index: 1000;}
.cbp-qtrotator blockquote 	{ margin: 0;padding: 0;}
.cbp-qtrotator blockquote p { font-size: 18px;color: #888;margin: 0.4em 0 3em;}
.cbp-qtrotator blockquote h3 { font-size: 20px;text-align: right;}
.cbp-qtrotator blockquote h3:before { content: '― ';}
.cbp-qtrotator .cbp-qtcontent img {	float: left;margin-right: 1.8em;border-radius: 80px; width:15%;}


@media screen and (max-width: 30.6em) { 
	.cbp-qtrotator {
		font-size: 70%;
	}
	.cbp-qtrotator img {
		width: 80px;
	}
}


.quotes-container 			{ overflow: hidden; margin-bottom: 30px; border-bottom: 0.5px solid #efefef; }
.quotes-container em		{ text-align:right;}


.vimeo-container 			{ overflow: hidden; margin-bottom: 30px; border-bottom: 0.5px solid #efefef; }


.youtube-container 			{ overflow: hidden; margin-bottom: 30px; border-bottom: 0.5px solid #efefef; }


#shortcode .maincontent 	{ min-height: 0 !important;}
#content-area 				{ background: #fff;display: block;overflow: hidden;}
#content-area nav 			{ border-bottom: 0 !important;}


a.tooltip 					{ outline:none;color: #21B38F; font-size: 16px; } 
a.tooltip strong 			{ line-height:30px;} 
a.tooltip:hover 			{ text-decoration:none;} 
a.tooltip span 				{ z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:28px; width:240px; line-height:16px; } 
a.tooltip:hover span 		{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} 
.callout                    { z-index:20;position:absolute;top:30px;border:0;left:-12px; height:25%;} 
.callout img{ }

a.tooltip span 				{ border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 5px 5px 8px #CCC; -webkit-box-shadow: 5px 5px 8px #CCC; box-shadow: 5px 5px 8px #CCC; }


.column-container 			{ display: block;overflow: hidden;width: 100%;}
.column-container p 		{ padding: 6px;}
.column-container ul li 	{ float: left;}
.columns-layout-title 		{ border-bottom: 2px solid #434955;font-size: 22px;font-family: 'LaoUI',sans-serif; font-weight: 300;display: inline-block;margin-top: 15px;}
.column-one-half 			{ display: block;float: left;overflow: hidden;}
.one-half 					{ font-size:15px/24px;float: left; width: 48%;}
.one-third 					{ font-size:15px/24px;float: left; width: 32%;}
.one-four 					{ font-size:15px/24px;float: left; width: 23%;}
.two-half 					{ font-size:15px/24px;float: left; width: 74%;}


/* Shortcode Jquery tabs */
.shortcode-tabs 							{ border-radius: 0px !important;border: 0 !important;padding-bottom: 30px !important;}								
.shortcode-tabs .ui-widget-header			{ background: none !important;border: 0 !important;}
.shortcode-tabs .ui-state-default           { border:0px !important; background: #6f8388 !important; border-radius:0px !important;font-size: 14px !important;color: #fff !important;}
.shortcode-tabs .ui-state-default           {border:0px !important;}
.shortcode-tabs .ui-state-active:after {top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(241, 99, 95, 0); border-top-color: #434955; border-width: 6px; margin-left: -6px; }
.shortcode-tabs .ui-state-active            { background-color:#434955 !important; border-radius:0px  !important;border:#777777 solid !important; border-width:0px!important; font-size: 14px !important;}
.shortcode-tabs .ui-tabs .ui-tabs-nav li a  { padding: 0.5em 0.8em !important;margin-right: 8px !important;}
.shortcode-tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #fff !important;}
.shortcode-tabs .ui-tabs .ui-tabs-panel     { padding: 0.5em 0.4em !important;}
.shortcode-tabs .ui-tabs-panel				{ border: 1px solid #ccc !important;border-radius: 0px !important;margin-top:2px; border-radius:6px !important;}

/* Shortcode Accordin*/
.shortcode-accordion div 					{ -webkit-transition: all 0s ease-in-out;-moz-transition: all 0s ease-in-out;-o-transition: all 0s ease-in-out;transition: all 0s ease-in-out;}
.shortcode-accordion .ui-state-active		{ background: #434955  !important; /* Old browsers */border-radius: 0px !important;}
.shortcode-accordion .ui-state-default		{ background: #6f8388; border-radius: 0px !important;}
.shortcode-accordion .ui-accordion-content	{ border-radius: 0px !important;}

.ui-tabs .ui-tabs-nav { padding: 0px !important; display:inline-block;}
.ui-accordion-content ul li{ list-style:none; }
.shortcode-accordion h3{ text-align:left;font: 300 16px 'LaoUI',verdana; padding:5px 15px; color:#eaeaea;}
.cus-list-container li{ list-style:none;}
.sub-pages h3{ text-align:left; outline:0;}
.flex-control-nav {    bottom: 40px;float: left; position:relative !important;text-align: left;width: 100%;}
.flex-direction-nav {*height: 0;}
.flex-direction-nav li{ list-style:none !important;}
.flex-direction-nav a  { background: url(../images/bg_direction_nav.png) no-repeat 0px 0px; display: block; width: 45px; height:100px; margin: -20px 0 0; position: absolute; top:40%; z-index: 10; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; text-decoration:none;text-indent: -9999px; }
 .flex-direction-nav .flex-next {
  background-position: 100% 0 !important;
  right: 20px;
    opacity:0;
}

.flex-direction-nav .flex-prev {
  left: 20px;
    opacity:0;
}
.flexslider:hover .flex-prev { opacity: 0.4; left: 40px; }
.flexslider:hover .flex-next { opacity: 0.4; right: 40px; }
@media screen and (max-width: 767px) {
    .flex-direction-nav a  { background: url(../images/arrow-big.png) no-repeat 0px 0px; display: block; width: 28px; height: 50px; margin: -20px 0 0; position: absolute; top: 45%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; text-decoration:none;text-indent: -9999px; }
  .flex-direction-nav .flex-prev { opacity: 1; left: -35px; top:}
      .flex-direction-nav .flex-next { opacity: 1; right: -35px;}
    .flexslider:hover .flex-prev { opacity: 0.7; left: -30px; }
    .flexslider:hover .flex-next { opacity: 0.7; right: -30px; }
}
@media screen and (max-width: 480px) {
    .flex-direction-nav a  { background: url(../images/arrow-big.png) no-repeat 0px 0px; display: block; width: 28px; height: 50px; margin: -20px 0 0; position: absolute;top: 45%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; text-decoration:none;text-indent: -9999px; }
 .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
          .flex-direction-nav .flex-next { opacity: 1; right:10px;}
        .flexslider:hover .flex-prev { opacity: 0.7; left: 0px; }
        .flexslider:hover .flex-next { opacity: 0.7; right: 0px; }
}    
    
    