@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|fontawesome|fontelico|openwebicons|typicons|zocial|iconicfill);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
[class*="iconicfill-"]:before {
  font-family: 'iconicfill', sans-serif;
}
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
@font-face
{
font-family: 'FranklinGothic';
src: url(../font/FranklinGothic.ttf);
}
@font-face
{
font-family: 'kokila';
src: url(../font/kokila.ttf);
}
@font-face
{
font-family: 'LaoUI';
src: url(../font/LaoUI.ttf);
}
/*font-family: 'FranklinGothic', sans-serif;*/

/*Skin color*/
$skincolor:#434955;
$skinhover:#6f8388;
/*Skin color*/

/* Index Page*/
.main-header
{
    float:left;
    width:100%;
    position:relative;
}
.main-headerimg
{
    float:right;
}
.header-backimage img
{
    width:100%;
    position:relative;
}
.header-menu
{
    background-color:$skincolor;
    opacity:0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:9;
}
.main-menu
{
}
.main-menu ul
{
    float:left;
    margin:0;
}
.main-menu li
{
    display:inline-block;
    float:left;
    margin:0;
}
.main-menu li li
{
    width:100%;
}
.main-menu li a
{
    text-decoration:none;
    color:#fff;
    font:18px 'LaoUI', sans-serif;
    text-transform:uppercase;
    padding:31px 15px 25px 15px;
    float:left;
    text-align:center;
    width:100%;
}
.main-menu li a:hover
{
    background-color:#61687b;
}
.logo-content
{
    width:50%;
    float:left;
    position:absolute;
    left:150px;
    top:550px;
}
.logo
{
    margin:0 auto;
    text-align:center;
}
.logo img
{
    width:98%;
}
.logo-content h1
{
    font:80px/60px 'kokila', sans-serif;
    margin-bottom:0;
    letter-spacing:5px;
}
.logo-content h2
{
    font:50px/45px 'kokila', sans-serif;
    text-transform:uppercase;
    text-align:right;
    padding-right:10px;
    margin-bottom:0;
}
.logo-texting
{
    float:left;
    width:72%;
}
.logo-content p
{
    font:12px 'LaoUI', sans-serif;
    text-transform:uppercase;
    text-align:right;
    float:right;
    width:50%;
    padding-right:10px;
}
.view-more
{
    float:right;
    width:100%;
    text-align:right;
}
.logo-content button
{
    float:right;
    text-align:right;
    background:none 0 0 $skincolor;
    margin-right:10px;
    padding:5px 15px;
    font:25px 'LaoUI', sans-serif;
    text-transform:uppercase;
    cursor:pointer;
    border-radius:0px !important;
    text-shadow:0 0 0!important;
    border:0 !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color:#fff !important;
}
.logo-content button a
{
    color:#fff !important;
    text-decoration:none;        
}
.logo-content button:hover
{ 
    background-color:#a8a8a8;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.grid-icon
{
    background:url(../images/grid-icon.png)no-repeat scroll center center $skincolor;
    float:left;
    height:40px;
    width:50px;    
}
.grid-title
{
    border-bottom:2px $skincolor solid;
    float:left;
    width:55%;
}
.title-rightless
{
    width:35%;
}
.grid-title-right
{
    border-bottom:2px $skincolor solid;
    float:left;
    width:100%;
}
.grid-title h2
{
    font-family:'FranklinGothic', sans-serif;
    text-transform:uppercase;
    margin-left:65px;
    margin-bottom:0;
}
.grid-title-right h2
{
    font-family:'FranklinGothic', sans-serif;
    text-transform:uppercase;
    margin-left:65px;
    margin-bottom:0;
}
.post-section
{
    float:left;
    margin:50px 0 25px;
    width:100%;
}
.post-fields article
{
    width:100%;
    float:left;
}
.post-fields
{
    margin-top:35px;
    float:left;
}
.post-content
{
    float:left !important;
    height:auto;
    margin-bottom:10px;
}
.post-content-right {
    float: left !important;
    height: auto;
    margin-bottom:10px;
}
.post-content img , .post-content-right img
{
    width:100%;
}
.post-date p
{
    font:15px 'LaoUI', sans-serif !important;
    text-transform:uppercase;
    float:left !important;
    background-color:$skincolor;
    padding:5px !important;
    font-weight:bolder;
    color:#fff !important;
}
.post-fields .post-content  h4
{
    font-family:'FranklinGothic', sans-serif;
    text-transform:uppercase;    
    text-align:left;
}
.post-fields .post-content h4 a
{
    text-decoration:none;
    color:$skincolor;
}
.post-fields .post-content h4 a:hover
{
    color:$skinhover;
}
.post-detail
{
    float: right;
    font: 13px/22px 'LaoUI',sans-serif;
    width: 77%;
    margin-bottom:0;
}
.post-content-right .post-date p
{
    font:15px 'LaoUI', sans-serif;
    text-transform:uppercase;
    float:right !important;
    background-color:$skincolor;
    padding:5px !important;
    font-weight:bolder;
    color:#fff;
}
.post-content-right .post-detail
{
    float: left;
    font: 13px/22px 'LaoUI',sans-serif;
    width: 77%;
    margin-bottom:0;
    text-align:right;
}
.post-fields .post-content-right  h4
{
    font-family:'FranklinGothic', sans-serif;
    text-transform:uppercase;    
    text-align:right !important;
}
.post-fields .post-content-right  h4 a
{
    text-decoration:none;
    color:$skincolor;
}
.post-fields .post-content-right  h4 a:hover
{
    color:$skinhover;
}
.post-fields span a
{
    color:#ab2526;
    font: 11px/22px 'LaoUI',sans-serif;    
    font-style:italic;
    text-decoration:none;
}
.right-index-blog
{
    float:left;
    width:100%;
}
.recent-comment-section
{
    float:left;
    margin:50px 0 25px;
}
.comment-date p
{
    background-color:$skincolor;
    color:#fff;
    font: 13px/22px 'LaoUI',sans-serif;
    float:left;
    padding:0px 10px;
    width:15%;
    text-align:left;
    margin-bottom:0;
    text-transform:capitalize;
}
.recent-comment
{
    float:left;
    margin-top:35px;
    width:100%;
    border-left:1px $skincolor solid;
}
.social-icons ul
{
    float:left;
    width:80%;
    margin-bottom:5px;
    margin-left:15px;
}
.social-icons li
{
    display:inline-block;
    font-size:28px;
    padding:0 5px;
    margin-bottom:0;
}
.social-icons li a
{
    text-decoration:none;
    border-radius:5px;
    height:21px;
    width:21px;
    float:left;
    color:$skincolor;
}
.social-icons li a:hover
{
    color:$skinhover;
}
.social-icons p
{
    float:left;
    font: 18px/22px 'LaoUI',sans-serif;
}
.comment-title h4
{
    float:left;
    width:80%;
    margin-left:15px;
}
.recent-com-text
{
    color:#6f7074;
    font: 14px/22px 'LaoUI',sans-serif;
    float:left;
    text-align:left;
    margin-left:10px;
    margin-bottom:10px;
}
.comment-heading
{
    float:left;
    width:100%;
}
.fashion-slider-section
{
    float:left;
    margin:50px 0;
    width:100%;
    position:relative;
}
.fashion-grid
{
    float:left;
    width:100%;
    margin:50px 0 0;
}
.fashion-grid img
{
    width:100%;
}
.gallery-section
{
    margin:50px 0;
    float:left;
    width:100%;
}
.gallery-medium
{
    float:left;
    height:280px;
    width:280px;
    overflow:hidden;
}
.gallery-medium img, .gallery-thumb img
{
    width:100%;
}
.gallery-thumb
{
    float:left;
    height:93px;
    width:93px;
    overflow:hidden;
}
.gallery-image-grid
{
    float:left;
    width:100%;
    margin:35px 0 0 0;
}
.gallery-image-grid ul
{
    margin:0;
}
.gallery-image-grid li
{
    list-style:none;
    display:block;
    margin-bottom:0;
    padding:2px;

}
#BackToTop {
    background-color: $skincolor;
    background-image: url("../images/bck-to-top.png");
    background-position:center center;
    border-radius: 100%;
    bottom: 10px;
    color: #EEEEEE;
    display: none;
    float: left;
    font: bold 35px Arial,Helvetica;
    height: 40px;
    margin: 0 5px;
    padding: 3px;
    position: fixed;
    right: 10px;
    text-decoration: none;
    width: 40px;
    z-index: 9999;
}


/*Index Page Ends*/

/*Blog Page */
.menu-bg
{
    background:url(../images/menu-bg.png)no-repeat scroll right center ;
    float:left;
}
.bread-crumb
{
}
.bread-crumb ul
{
    margin:50px 0;
    float:left;
    width:100%;
}
.bread-crumb li
{
    display:inline-block;
}
.bread-crumb li a
{
    text-decoration:none;
    text-transform:uppercase;
    font:26px 'FranklinGothic', sans-serif;
    padding:0 5px;
}
.header-menu-inner
{
    background-color:$skincolor;
    opacity:0.85;
    position: relative;
    top: 0;
    width: 100%;
    z-index:9;
}
.light-grey
{
    color:#6f8388;
}
.blog-section
{
    float:left;
    margin:50px 0;
}
.left-blog
{
    float:left;
    background-color:#f3f3f3;
}
.left-blog img
{
    width:100%;
    float:left;
}
.blog-content
{
    float:left;
    padding:15px;
    margin-top:50px;
}
.blog-content h1
{
    font:22px 'FranklinGothic', sans-serif;
}
.blog-content h1 a
{
    text-decoration:none;
    text-transform:uppercase;
}
.blog-content h1 a:hover
{
    color:$skinhover;
}
.blog-content span
{
    font: 16px/22px 'LaoUI',sans-serif;
    float:left;
    width:100%;
}
.blog-content span a
{
    text-decoration:none;
}
.blog-content span a:hover
{
    color:$skinhover;
}
.blog-content p
{
    font: 14px/22px 'LaoUI',sans-serif;
}
.blog-learnmore
{
    float:right;    
}
.blog-learnmore a
{
    color:#ccc;
    background-color:$skincolor;
    padding:5px 10px;
    font: 14px/22px 'LaoUI',sans-serif;
    text-transform:uppercase;
    text-decoration:none;
}
.blog-learnmore a:hover
{
    background-color:#ccc;
    color:$skincolor;
}
.without-right
{
    margin-top:80px;
    padding:35px;
}
.small-blog
{
    float:left;
    height:275px;
    overflow:hidden;
}
.medium-blog
{
    float:left;
    height:460px;
    overflow:hidden;
}
/*BLog Page Ends*/

/*Single Blog*/
.single-blog-post h1
{
    font:32px 'FranklinGothic', sans-serif;
    text-transform:uppercase;
}
.post-image img
{
    width:100%;
    margin-bottom:20px;
}
.single-blog-post p
{
    font: 14px/22px 'LaoUI',sans-serif;
    color:#6f7074;
    float:left;
}
.abt-author
{
    float:left;
    margin:50px 0;
}
.abt-author h3
{
    text-transform:uppercase;
    font-family:'FranklinGothic', sans-serif;
    margin-left:105px;
}
.about-author figure
{
    width:15%;
}
.about-author
{
    float:left;
    border:1px solid #ccc;
    width:85%;
    padding:5px 15px;
}
.about-author img
{
    float:left;
    width:100%;
    border-radius:50%;
    margin-top:-40px;
}
.about-author h5
{
    font: 15px/22px 'LaoUI',sans-serif;
    font-style:italic;
    text-transform:capitalize;
    float:left;
    font-weight:bold;
    margin-left:15px;
}
.about-author h5 a
{
    text-decoration:none;
    color:$skinhover;
}
.about-author h5 a:hover
{
    color:$skincolor;
}
.about-author span
{
    font: 12px/22px 'LaoUI',sans-serif;
    font-style:italic;
    color:$skinhover;
    float:right;
}
.about-author p:before 
{
    content: open-quote;
}
.about-author p
{
    font: 14px/22px 'LaoUI',sans-serif;
    font-style:italic;
    float:left;
    color:$skincolor;
    margin-bottom:10px;
}
.about-author p:after 
{
    content: close-quote;
}
.related-post
{
    margin:25px 0;
    float:left;
}
.related-posting
{
    float:left !important;
    margin:35px 0 0 !important;
    position:relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.post-month p
{
    background-color:$skinhover;
    color:#fff;
    font:30px 'FranklinGothic', sans-serif;
    text-transform:capitalize;
    padding:5px;
    float:left;
    position:absolute;
}
.related-posting img
{
    width:100%;
}
.related-post-detail p
{
    float:left;
    background-color:$skincolor;
    padding:5px;
    font: 14px/22px 'LaoUI',sans-serif;
    font-style:italic;
    color:#fff;
    position:absolute;
    bottom:-15px;
    opacity:0.85;
    text-align:center;
    width:100%;
}
.comments-section
{
    float:left;
    margin:40px 0;
    width:100%;
}
.article-comment
{
    float:left;
    margin:50px 0 0;
}
.reply-form
{
    float:left;
    margin:50px 0;
    width:100%;
}
.repling-form
{
    float:left;
    width:100%;
    margin:35px 0;
}
.reply-input
{
    border:1px solid #ccc !important;
    text-transform:capitalize;
    text-align:left;
    font: 14px/22px 'LaoUI',sans-serif !important;
    padding-left:25px !important;
    color:#666 !important;
    width:50% !important;
}
.reply-comment
{
    border:1px solid #ccc !important;
    text-transform:capitalize;
    text-align:left;
    font: 14px/22px 'LaoUI',sans-serif !important;
    padding-left:25px !important;
    color:#666 !important;
    width:75% !important;
}
.reply-submit
{
    text-transform:uppercase;
    padding:7px 15px !important;
    font: 16px/22px 'LaoUI',sans-serif !important;
    background:none scroll 0 0 $skincolor !important;
    color:#fff !important;
    box-shadow: 0 3px 0 $skinhover !important;
    border:0 !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.reply-submit:hover
{
    box-shadow:0 0 0 $skinhover !important;    
    padding-top:8px !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/*Sinlge Blog Ends*/

/*Page */
.page-image img
{
    width:100%;
}
.page-section p
{
    margin:15px 0;
    float:left;
    text-align:left;    
}
.about-author1 figure
{
    width:10%;
}
.about-author1
{
    float:left;
    border:1px solid #ccc;
    width:100%;
    padding:5px 15px;
    margin:50px 0;
}
.about-author1 img
{
    float:left;
    width:100%;
    border-radius:50%;
    margin-top:-50px;
}
.about-author1 h5
{
    font: 15px/22px 'LaoUI',sans-serif;
    font-style:italic;
    text-transform:capitalize;
    float:left;
    font-weight:bold;
    margin-left:15px;
}
.about-author1 h5 a
{
    text-decoration:none;
    color:$skinhover;
}
.about-author1 h5 a:hover
{
    color:$skincolor;
}
.about-author1 span
{
    font: 12px/22px 'LaoUI',sans-serif;
    font-style:italic;
    color:$skinhover;
    float:right;
}
.about-author1 p:before 
{
    content: open-quote;
}
.about-author1 p
{
    font: 14px/22px 'LaoUI',sans-serif;
    font-style:italic;
    float:left;
    color:$skincolor;
    margin-bottom:10px;
}
.about-author1 p:after 
{
    content: close-quote;
}
/*Page Ends*/

/*Gallery Page*/
.gallery-page-section ul
{
    float:left;
    margin:25px 0;
}
.gallery-page-section li
{
    display:inline-block !important;
    list-style:none;
    margin:2px !important;
    float:left  !important;
    overflow:hidden;
}
.gallery-page-section li img
{
    float:left;
    width:100%;   
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gallery-page-section li img:hover
{
    float:left;
    width:100%;
}

/*Gallery Page Ends*/

/*Contact Us Page*/
.map-image
{
    float:left;
    margin:25px 0;
}
.map-image img
{
    width:100%;
}
.contact-page-form
{
    background-color:$skincolor;
    float:left;
    margin:25px 0;
}
.contact-page-form
{
    float:left;
    padding:50px 0;
}
.contact-form
{
    padding:0 20px;
}
.contact-form h3
{
    text-transform:uppercase;
    color:#fff;
    margin-bottom:35px;
    background:url(../images/contact-icon.png)no-repeat scroll 0 0;
    padding: 27px 15px 27px 100px;
}
.contact-input
{
    border:1px solid #ccc !important;
    color:#ccc !important;
    width:75% !important;
    background:none scroll 0 0 transparent !important;
    font: 16px/22px 'LaoUI',sans-serif !important;
    padding:2px 5px !important;
    text-transform:capitalize;
    font-style:italic !important;
    height:40px !important;
    margin-bottom:25px !important;
    border-radius:0 !important;
}
.contact-text
{
    border:1px solid #ccc !important;
    color:#ccc !important;
    width:75% !important;
    background:none scroll 0 0 transparent !important;
    font: 16px/22px 'LaoUI',sans-serif !important;
    padding:2px 5px !important;
    text-transform:capitalize;
    font-style:italic !important;
    height:40px !important;
    margin-bottom:25px !important;
    border-radius:0 !important;
}
.contact-submit
{
    background:none scroll 0 0 $skinhover !important;
    text-shadow:0 0 0 !important;
    font: 16px/22px 'LaoUI',sans-serif !important;
    text-transform:uppercase;
    border:1px $skinhover solid !important;
    border-radius:0 !important;
    padding:5px 15px !important;
    color:#fff !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.contact-submit:hover
{
    background:none scroll 0 0 transparent !important;
    color:#ccc !important;
    border:1px #ccc solid !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.contact-details
{
    color:#fff;
    padding:0 20px;
}
.contact-details ul
{
    float:left;
}
.contact-details li
{
    display:list-item;
    list-style:none;
    height:60px;
    font-size:58px;
    float:left;
    width:100%;
    line-height:50px;
    margin-bottom:20px;
}
.contact-details li span
{
    float:left;
}
.contact-details p
{
    width:100%;
    padding-left:90px;
    font:28px/60px 'FranklinGothic', sans-serif;
}
.cal-image
{
    background:url(../images/cal-icon.png) no-repeat scroll 0 0 ;
    height:60px;
    width:60px !important;
}
.msg-image
{
    background:url(../images/msg-icon.png) no-repeat scroll 0 0 ;
    height:60px;
    width:60px !important;
}
/*Contact Us Page Ends*/


/*Right Blog Section*/
.widget-container
{
    float:left;
    width:100%;
    margin:25px 0;
}
.widget-title
{
    border-bottom:2px $skincolor solid;
    float:left;
    width:100%;
}
.widget-title h2
{
    font-family:'FranklinGothic', sans-serif;
    text-transform:uppercase;
    margin-left:65px;
    margin-bottom:0;
}
.tag-columns 
{
    padding:35px 0 0;
    float:left;
    width:100%;
}
.tag-columns p
{
    float:left;
    margin:0 6px 15px;
    width:21%;
}
.tag-columns p a
{
    text-decoration:none;
    text-transform:capitalize;    
    text-align:center;    
    font: 14px/22px 'LaoUI',sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width:100%;
    float:left;
    padding:2px 5px;
}
.tag-columns p a:hover
{
    background-color:$skincolor;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color:#fff;
}
.border-dark
{
    /*border:$skincolor solid;
    border-width:1px 1px 1px 6px;*/
    border-top:1px #6F8388 solid;
    border-bottom:1px #6F8388 solid;
    border-left:6px $skincolor solid;
    border-right:1px #6F8388 solid;
}
.border-light
{
    border:#6F8388 solid;
    border-width:1px 1px 1px 6px;
}
.archives-columns
{
    float:left;
    padding-top:25px;
    width:100%;
}
.archives-columns p
{
    float:left;
    font: 14px/22px 'LaoUI',sans-serif;    
    width:100%;
}
.archives-columns p a
{
    text-decoration:none;
    text-transform:uppercase;
    width:100%;
    padding:5px 5px 5px 15px;
    float:left;
}
.archives-columns p a:hover
{
    background-color:$skincolor;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color:#fff;
}
.vimeo-section iframe
{
    width:100%;
    margin:25px 0 0;
}

.calendar-section img
{
    width:100%;
    margin:25px 0;
}
.recent-comment-inner
{
    float:left;
    margin:0 0 25px 0;
}
.search-input
{
    float:left;
    width:75% !important;
    background-color:#e0e0e0 !important;
    color:#000 !important;
    font-style:italic !important;
    text-align:center;
    margin:35px 0 0!important;
    border-radius:3px 0 0 3px !important;
    font: 14px/22px 'LaoUI',sans-serif; 
    float:left;
    height:40px;
    border:0 !important;
}
.search-submit
{
    background:none 0 0 $skinhover !important;
    width:25% !important;
    text-transform:uppercase;
    color:#fff !important;
    letter-spacing:1px;
    float:left;
    margin:35px 0 0!important;
    text-shadow:0 0 0 !important;
    font: 14px/22px 'LaoUI',sans-serif !important; 
    border-radius:0 3px 3px 0 !important;
    box-shadow: 0 0px 0  $skincolor !important;
    border:0 !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height:40px;
}
.search-submit:hover
{
    box-shadow: 0 4px 0 $skincolor !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height:37px;
}
.author-post
{
    margin:35px 0 0;
    float:left;
    width:100%;
    border-left:1px $skincolor solid;
}
.author-img
{
    width:20%;
    float:left;
}
.author-title
{
    float:left;
    width:80%;
}
.author-title h4 a
{
    text-decoration:none;
}
.author-title h4 a:hover
{
    color:$skinhover;
}
.author-title span
{
    float:right;
    font: 14px/22px 'LaoUI',sans-serif !important; 
    font-style:italic;
    color:$skinhover;
}
.author-post p
{
    font: 14px/22px 'LaoUI',sans-serif !important; 
    color:$skinhover;
    padding:10px;
    margin-bottom:0;
    text-align:left;
    float:left;
}
.flickr-image ul
{
    float:left;
    margin:30px 0;
    width:100%;
}
.flickr-image li
{
    display: inline-block;
    float: left;
    height:78px;
    list-style: none outside none;
    margin-bottom: 0;
    padding: 2px;
    width:25%;
    overflow:hidden;
}
.flickr-image li img
{
    width:100%;
}
.smallsponsor {
    display: inline-block;
    float: left;
    margin-top: 25px;
    text-align: center;
    width: 50%;
}
.smallsponsor img {
    max-width: 100%;
}
.sponsor160 .widget-content {
    padding: 30px 0 9px;
}

.bigsponsor {
    text-align: center;
    margin-top:25px;
    float:left;
    width:100%;
}

/*Right Blog Section Ends*/

/* Footer Section */
.footer-section
{
    background:url(../images/footer-bg.png) no-repeat scroll 0 0 ;
    background-size:cover;
}
.footer-columns
{
    padding:150px 0 50px;
    float:left;
    border-bottom:2px solid #6f8388;
}
.footer-heading h3
{
    color:#fff;
    text-transform:uppercase;
    font-family:'FranklinGothic', sans-serif;
}
.footer-columns p
{
    color:#fff;
    font: 14px/22px 'LaoUI',sans-serif;
    margin-top:10px;
}
.footer-input
{
    width:60% !important;
    background:none 0 0 #fff !important;
    color:#6f8388 !important;
    font: 14px/22px 'LaoUI',sans-serif !important;
    text-transform:capitalize;
    font-style:italic;
    float:left;
    height:35px;
    border-radius:0 !important;
    text-align:center;
}
.footer-submit
{
    width:35%;
    float:left;
    background:none scroll  0 0 #6f8388 !important;
    color:#fff !important;
    text-shadow:0 0 !important;
    border-radius:0 !important;
    border:0 !important;
    font: 14px 'LaoUI',sans-serif !important;
    height:35px;
    padding:0 !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.footer-submit:hover
{
    width:35%;
    float:left;
    background:none scroll  0 0 $skincolor !important;
    color:#fff !important;
    text-shadow:0 0 ;
    border-radius:0 !important;
    border:0 !important;
    font: 14px 'LaoUI',sans-serif !important;
    height:35px;
    padding:0 !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.footer-columns .footer-contact h6
{
    color:#fff;
    font: 16px/22px 'LaoUI',sans-serif;
    float:left;
}
.footer-columns .footer-contact p
{
    color:#fff;
    font: 14px/22px 'LaoUI',sans-serif;
    margin-top:0px !important;
    
}
.social-icon-fot 
{
    text-align:right;
}
.social-icon-fot ul
{
    margin:0;
}
.social-icon-fot li
{
    display:inline-block;
    font-size:28px;
}
.social-icon-fot li a
{
    color:#c9c7c7;
    text-decoration:none;
}
.social-icon-fot li a:hover
{
    color:#6f8388;
}
.copy-right
{
    float:left;
    margin:25px 0 20px;
    color:#fff;
    font: 14px/22px 'LaoUI',sans-serif;
}
.flickr-img ul
{
    float:left;
    margin:0;
}
.flickr-img li
{
    display: inline-block;
    float: left;
    height: 65px;
    list-style: none outside none;
    margin-bottom: 0;
    padding: 2px;
    width: 30%;
    overflow:hidden;
}
.flickr-img li img
{
    width:100%;
}
/* Footer Section Ends*/



	@media only screen and (max-width: 959px) {
    
    .main-menu li a 
    {
        color: #FFFFFF;
        float: left;
        font: 16px 'LaoUI',sans-serif;
        padding: 24px 15px 25px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    }
    .logo-content 
    {
        float: left;
        left: 70px;
        position: absolute;
        top: 250px;
        width: 50%;
    }
    .post-content 
    {
        background-color: #EEEEEE;
        float: left !important;
        height: auto;
        margin-bottom: 20px !important;
    }
    .post-detail 
    {
        float: right;
        font: 13px/22px 'LaoUI',sans-serif;
        margin-bottom: 0;
        width:100%; 
    }
    .post-content-right {
        background-color: #EEEEEE;
        float: left !important;
        height: auto;
        margin-bottom: 20px !important;
    }
    .post-content-right .post-detail 
    {
        float: left;
        font: 13px/22px 'LaoUI',sans-serif;
        margin-bottom: 0;
        text-align: right;
        width: 100%;
    }
    .without-right 
    {
        margin-top:12px;
        padding: 35px;
    }
    .left-blog 
    {
        background-color: #F3F3F3;
        float: left;
        margin-bottom: 20px;
    }

}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
    .sf-arrows .sf-with-ul:after 
    {
        content: none !important;
    }
    .sf-menu ul
    {
        display: none;
        left: 0;
        position: relative !important;
        top: 100%;
        z-index: 99;
    } 
    .sf-menu 
    {
        display: none;
    }
    .logo img 
    {
        margin-top: 50px;
        width: 50%;
    }
    .header-backimage img 
    {
        margin-top: 155px;
        position: relative;
        width: 100%;
    }
    .logo-content 
    {
        float: left;
        left: 60px;
        position: absolute;
        top: 380px;
        width: 50%;
    }
    .post-content-text
    {
        padding:10px;
    }
    .flickr-img li 
    {
        display: inline-block;
        float: left;
        height: auto;
        list-style: none outside none;
        margin-bottom: 0;
        overflow: hidden;
        padding: 2px;
        width: 30%;
    }
    .footer-heading h3 
    {
        color: #FFFFFF;
        font-family: 'FranklinGothic',sans-serif;
        margin-top: 25px;
        text-transform: uppercase;
    }
    .footer-columns 
    {
        border-bottom: 2px solid #6F8388;
        float: left;
        padding: 230px 0 50px;
    }
    .copy-right
    {
        color: #FFFFFF;
        float: left;
        font: 14px/22px 'LaoUI',sans-serif;
        margin: 25px 0 20px;
        text-align: center;
    }
    .social-icon-fot 
    {
        text-align: center;
        margin-top:15px;
    }
    .right-index-blog 
    {
        float: left;
        padding-left:0px;
        width: 100%;
    }
    .grid-title 
    {
        border-bottom: 2px solid #434955;
        float: left;
        width: 70%;
    }
    .menu-bg 
    {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: block;
        float: left;
    }
    .about-author figure 
    {
        width: 19%;
    }
    .grid-title 
    {
        border-bottom: 2px solid #434955;
        float: left;
        width: 100%;
    }
    .about-author1 figure 
    {
        width: 25%;
    }
    .without-right .left-blog 
    {
        background-color: #F3F3F3;
        float: left;
        margin-bottom: 25px;
    }
    .small-blog
    {
        float:left;
        height:auto;
        overflow:hidden;
    }
    .medium-blog
    {
        float:left;
        height:auto;
        overflow:hidden;
    }

}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

    @media only screen and (max-width:640px) {
    .logo-content p 
    {
        float: right;
        font: 12px 'LaoUI',sans-serif;
        padding-right: 10px;
        text-align: right;
        text-transform: uppercase;
        width: 100%;
    }
    .logo-content 
    {
        float: left;
        left: 15px;
        position: absolute;
        top: 340px;
        width: 50%;
    }
    
}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 500px) {
    
    .logo-content 
    {
        display:none;
    }
    .header-backimage img 
    {
        margin-top: 125px;
        position: relative;
        width: 100%;
    }
    .about-author figure
    {
        width: 30%;
    }
    .about-author1 figure 
    {
        width:30%;
    }
    .contact-details ul 
    {
        float: left;
        margin: 0;
    }

}